<% content_for :container do %>
  <div class="container-fluid">
    <%= notice_message %>
    <%= yield %>
    <hr>
    <%= render partial: "layouts/footer" %>
  </div> <!-- /container -->
<% end %>

<%= render template: 'layouts/application' %>