<% content_for :container do %>
  <div class="container-fluid">
    <%= notice_message %>
    <%= yield %>
    <hr>
    <div class="footer">
      <p>Powered by <%= link_to t("site_name"), root_url %></p>
    </div>
  </div> <!-- /container -->
<% end %>

<%= render template: 'layouts/application' %>